@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.fixed-width-button {
  min-width: 160px;
  text-align: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .fixed-width-button {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    display: flex;
  }
}